<template>
	<div class="add-journal">
		<h2>Tambah Jurnal</h2>
		<p v-show="success" class="info success">{{ success }}</p>
		<p v-show="error" class="info error">{{ error }}</p>
		<form>
			<div>
				<label>Gimana perasaanmu hari ini?</label>
				<input type="text" v-model="fields.mood" />
			</div>
			<div>
				<label>Hari ini ngapain aja?</label>
				<textarea v-model="fields.content"></textarea>
			</div>
			<button class="primary" @click.prevent="addJournal">Tambah Jurnal</button>
		</form>
	</div>
</template>

<script>
import moment from 'moment'

export default {
	name: 'AddJournal',
	data: () => {
		return {
			fields: {
				id: Date.now(),
				day: moment()
					.locale('id')
					.format('dddd'),
				date: moment()
					.locale('id')
					.format('DD MMMM YYYY'),
				content: '',
				mood: '',
			},
			success: '',
			error: '',
		}
	},
	methods: {
		addJournal: function() {
			console.log(this.fields)
			if (this.fields.content.length < 3)
				return (this.error = 'Tolong kontennya diisi minimal tiga karakter, ya.')
			this.$store.commit('addJournal', this.fields)
			this.success = 'Mantap! Jurnal telah ditambahkan.'
			this.error = ''
		},
	},
}
</script>

<style lang="scss">
.add-journal {
	text-align: center;
	form {
		text-align: left;
		max-width: 500px;
		margin: 0 auto;
		div {
			margin: 20px 0;
			display: flex;
			flex-direction: column;
		}
		input,
		textarea {
			padding: 10px;
			margin-top: 20px;
			border-radius: 7px;
			border: solid 1px #ddd;
			resize: vertical;
			font-size: 14px;
			font-family: 'Segoe UI';
		}
	}
	.info {
		border-radius: 5px;
		padding: 5px;
		font-weight: bold;
		&.success {
			color: #42b983;
		}
		&.error {
			color: #d91e42;
		}
	}
}
</style>
