<template>
	<div class="home">
		<div class="option">
			<input
				v-model="search"
				type="text"
				placeholder="Cari berdasarkan tanggal..."
			/>
			<span>Urutkan dari yang paling</span>
			<button @click="sortAscending" ref="sortAscending" class="flat">Baru</button>
			<button @click="sortDescending" ref="sortDescending" class="flat">
				Lama
			</button>
		</div>
		<div
			class="display-journal"
			v-for="journal in displayJournals"
			:key="journal.id"
		>
			<h2>{{ journal.date }}</h2>
			<p style="color: #aaa;">
				<span>{{ journal.day }}</span>
				<span v-if="journal.mood">{{ ' - ' + journal.mood }}</span>
			</p>
			<p>{{ journal.content }}...</p>
			<router-link :to="`/${journal.id}`">
				<button class="primary">Baca Jurnal →</button>
			</router-link>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MyJournals',
	data: () => {
		return {
			search: '',
			active: 'active',
		}
	},
	computed: {
		displayJournals() {
			return this.$store.getters.displayJournal.filter((journal) => {
				return journal.date.match(this.search)
			})
		},
	},
	methods: {
		sortAscending() {
			this.$store.commit('sortJournalAscending')
			this.$refs.sortAscending.className = 'flat active'
			this.$refs.sortDescending.className = 'flat'
		},
		sortDescending() {
			this.$store.commit('sortJournalDescending')
			this.$refs.sortAscending.className = 'flat'
			this.$refs.sortDescending.className = 'flat active'
		},
	},
}
</script>

<style lang="scss">
.display-journal {
	padding: 30px 0;
	border-bottom: solid 1px #ddd;
	&:nth-last-child(1) {
		border: none;
	}
}
.option {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	input,
	span,
	button {
		padding: 10px;
		border: solid 1px #eee;
		border-radius: 0;
		font-size: 14px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	input {
		flex: 5;
		margin-top: 20px;
		border-radius: 7px 0 0 7px;
	}
	span {
		flex: 3;
		background: #eee;
	}
	button {
		flex: 1;
		margin: 0;
		&:nth-last-child(1) {
			border-radius: 0 7px 7px 0;
			border-left: none;
		}
		&.active {
			background: #42b983;
			color: white;
			border: solid 1px #42b983;
		}
	}
}
</style>
