<template>
  <div class="read-journal">
    <h3>{{ journal.date }}</h3>
			<p style="color: #aaa;">
				<span>{{ journal.day }}</span>
				<span v-if="journal.mood">{{ ' - ' + journal.mood }}</span>
			</p>
    <article>{{ journal.content }}</article>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      //
    };
  },
  methods: {},
  computed: {
    journal() {
      return this.$store.state.journals.find(journal => {
        return journal.id == this.$route.params.id;
      });
    }
  }
};
</script>