<template>
  <footer>
    <div>
      <p>Copyright © 2020 Jurnal Novan</p>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
footer {
  padding: 30px;
  div {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    border-top: solid 1px #aaa;
  }
  p {
    font-size: 14px;
    color: #aaa;
  }
}
</style>