<template>
  <header class="header">
    <img alt="Vue logo" src="@/assets/logo.png" />
    <div>
      <h1>Jurnal Novan</h1>
    </div>
    <Navbar />
  </header>
</template>

<script>
import Navbar from "./Navbar.vue";

export default {
  components: {
    Navbar
  }
};
</script>

<style lang="scss" scoped>
header {
  background-color: #eee;
  background-image: url("../assets/header-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  img {
    max-width: 100px;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 500;
  }
}
</style>