<template>
  <nav>
    <router-link to="/">Jurnalku</router-link>
    <router-link to="/add-journal">Tulis Jurnal</router-link>
  </nav>
</template>

<style lang="scss">
nav {
  padding: 10px;
  a {
    color: #2c3e50;
    text-decoration: none;
    padding: 5px 10px;

    &.router-link-exact-active {
      border-bottom: solid 2px #42b983;
      color: #42b983;
    }
  }
}
</style>