<template>
  <div id="app">
    <Header />
    <main>
      <div id="nav"></div>
      <router-view />
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}

button {
  background: none;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Segoe UI";
  &.primary {
    background: #42b983;
    color: white;
  }
  &.secondary {
    background: #2c3e50;
    color: white;
  }
  &.flat {
    box-shadow: none;
  }
}

#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
